# macOS
.DS_Store

# Xcode
xcuserdata/
DerivedData/
build/
*.xcarchive
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# Claude Code
.claude/settings.local.json
